.actor {
  display: flex;
  margin-bottom: 2.5rem;

  .headshot_container {
    width: 267px;
    margin-right: 2.5rem;
  }

  .headshot {
    margin-top: 2.5em;
    border: 1px solid #efefef;
    min-width: 267px;
    overflow: hidden;
    font-size: 1rem;
  }

  .bio { font-size: 1rem; }
}

#crew {
  & > * {
    flex: 1 50%;
  }
}

#extras {
  & > * {
    width: 267px;
    margin-right: 2.5rem;
  }
}


.actor,#crew {
  header {
    h1 { @include header-types; font-variant: small-caps; }
    h2 { @include body-types; font-variant: small-caps; font-style: italic; }
  }
}

.extras {
  margin-top: 5rem;
}

.crew {
  margin-bottom: 1.5rem;

  .links {
    font-size: 1rem;
  }
}
