.actor {
  display: flex;
  margin-bottom: 2.5rem;

  .headshot {
    display: block;
    width: 160px; height: 200px;
    border: 1px solid #efefef;
    overflow: hidden;
    font-size: 1rem;
    margin-right: 2.5rem;
  }

  .bio { font-size: 1rem;}
}

#cast,#extras,#crew {
  & > * {
    flex: 1 50%;
  }
}

#cast,#crew {
  header {
    h1 { @include header-types; font-variant: small-caps; }
    h2 { @include body-types; font-variant: small-caps; font-style: italic; }
  }
}

.crew {
  margin-bottom: 1.5rem;

  .links {
    font-size: 1rem;
  }
}
