@import "reset";

@mixin header-types {
  font-family: Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

@mixin body-types {
  font-family: Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

@mixin content-position {
  max-width: 960px;
  margin: auto;
}

body {
  background: #121212;
  color: #fefefe;
  @include body-types;
}

body > header {
  @include header-types;
  @include content-position;
  margin-top: 2rem;

  h1 {
    font-size: 5rem;
    font-variant: small-caps;
  }

  h2 {
    font-size: 1.5rem;
  }
}

a {
  color: #9e9eff;
}

.small {
  .content {
    @include content-position;
    ul {
      display: flex;
      justify-content: space-around;
    }
  }
}

.section {
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  & > .content {
    @include content-position;
    font-size: 1.5rem;
    line-height: 1.5em;
  }

  & > header {
    background: #fefefe;
    color: #121212;
    margin-bottom: 2.5rem;

    h1 {
      @include content-position;
      @include header-types;
      padding: 2rem;
      font-size: 3em;
      font-variant: small-caps;
    }
  }
}

#production_companies {
  margin-top: 5rem;
  justify-content: space-around;
  align-items: center;

  img {
    display: block;
  }
}

@import "award";
@import "people";